*{
 font: arial, sans-serif;
 margin: 0px;
 padding: 0px;
}

h3, h4{
    background-color: grey;
    color: white;
    display: block;
}
.label{
    width: 15px;
    height: 15px;
}
/* .headertext{
    color: black;
    float: right;
    display: inline;
    position: absolute;
    top: 25px;
    right:10px;
}
.name{
    font-family: cursive;
    font-size: 25px;
    color: black;
    float: left;
    display: inline;
    position: absolute;
    top: 0px;
    right: 550px;
} */

.title{
    position: relative;
    top: -10px;
    left: 5px;
}

#container{
    height: 700px;
    width: 950px;
    background-color: #3A3AA5;
    margin: 5px;
}

#header{
    background-color: lightgrey;
    padding: 10px 20px;
}

    #header p, #header h1 {
        display: inline-block;
        vertical-align: center;
    }

    #header h1 {
        width: 25%;
    }

    #header p {
        font-size: 20pt;
        width: 74%;
        text-align: right;
    }

#main {
    padding: 15px 20px;
}

#about img{
    width: 375px;
    border: 4px solid darkgrey;
    display: inline-block; 
    vertical-align: top;
}

#about-content{
    width: 501px;
    height: 254.67px;
    margin-left: 20px;
    background-color: lightcyan;  
    display: inline-block;  
    vertical-align: top;
}

.column{
    width: 200px;
    height: 300px;
    background-color: lightblue;
    display: inline-block;     
    vertical-align: top;
    position: relative;
    margin: 10px;
}

/* #family{
    width: 200px;
    height: 300px;
    background-color: lightblue;
    display: inline-block;  
    vertical-align: top; 
    position: relative;  
    margin: 10px;
}

#five{
    width: 200px;
    height: 300px;
    background-color: lightblue;
    display: inline-block; 
    vertical-align: top;
    position: relative;
    margin: 10px;
} */

#footer{
    width: 700px;
    height: 50 px;
    background-color: lightgrey;
    display: inline-block; 
    text-align: center;
}
