<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submitted Form</title>
</head>
    <body>
        <div id='container'>
            <h1>Submitted Information: {{ session['name'] }}</h1>
            <p>Name: </p>
            <p>Location: </p>
            <p>Favorite Language: </p>
            <p>Comment: </p>

        </div>
    </body>
</html>