*{

}

h1{
    color: lightgrey;
}

h3{
    color: lightgrey;
}

p{
    color: lightgrey;
    margin: 10px;
}

a{
    color: aqua;
}

span{
    color: #622FD8;
}

ul{
    color: lightgrey:
}

li{
    color: lightgray;
}

#container{
    height: 700px;
    width: 900px;
    background-color: #3A3AA5;
}

#header{
    border: 2px solid;
    border-radius: 25px;
    background-color: #F33D3D;
    height: 80px;
    width:660px;
    margin: 5px;
    padding: 5px;
}

#sidebar{
    border: 2px solid;
    border-radius: 25px;
    height: 300px;
    width: 200px;
    background-color: #3B9292;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    padding: 5px;
}

#main{
    border: 2px solid;
    border-radius: 25px;
    background-color: #1F1B1B;
    display: inline-block;
    height: 450px;
    width: 600px;
    margin: 5px;
    padding: 5px;
}

#footer{
    border: 2px solid;
    border-radius: 25px;
    background-color: grey;
    height: 40px;
    width: 660px;
    margin: 5px;
    padding: 5px;
}