<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>authors</title>
</head>

<body>
    <nav>
        <a href="/">Display Animal</a>
        <a href="/animals/new">Add New Animal</a>
    </nav>
    <fieldset>
        <legend>Edit Animal</legend>
        <form action="/animals/<%= animal._id %>/update" method='post'>
            <div>
                <label for="">Name</label>
                <input type="text" name='name' value='<%= animal.name %>'>
            </div>
            <div>
                <label for="">Age</label>
                <input type="number" name='age' value='
                <%= animal.age %>'>
            </div>
            <div>
                <label for="">Is Alive?</label>
                <input type="radio" name='isAlive' value='true'>True
                <input type="radio" name='isAlive' value='false'>False
            </div>
            <div>
                <label for="">Is Endangered?</label>
                <input type="radio" name='isEndangered' value='true'>True
                <input type="radio" name='isEndangered' value='false'>False
            </div>
            <!-- <input type="submit" value="Edit"> -->
            <button>Submit</button>
        </form>
    </fieldset>

</body>

</html>