<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Here are the awesome quotes!</legend>
        <table>
            <thead>
                <tr>
                    <th>
                    
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for (const quote of quotes){
                    %>
                    <tr><td>____________________________________<td></tr>
                    <tr>         
                        <td><%= quote.quote %></td>
                        <td><%= quote.name %> @ <%= quote.createdAt %></td>
                        
                    </tr>
                <% } %>
            </tbody>
        </table>

    </fieldset>
</body>
</html>