*
{

}
.container{
    width: 940px;
    height: 800px;
    background-color: lightblue;
    padding: 5px;
    margin: 5px;

    /* border: 5px solid black; */
}
h2, h3{
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
h4{
    text-align: center;
    color: grey;
    vertical-align: middle;
    background-color: lightgoldenrodyellow;
    display: inline-block;
    padding: 15px 50px;
    margin: 5px;
}
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
textarea{
    color: lightskyblue;
    border: 1px double darkgrey;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    margin: 5px;

}