*{
}

#container{
    width: 970px;
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
}
/* --------------- */

p{
    font-family: 'Petrona';font-size: 12px;
    /* font-family: Helvetica, Arial, sans-serif;
    font-size: 10px; */
}

h1, h2, h3, h4, h5, h6, li, a, button{
    font-family: 'Petrona';
    /* font-size: 12px; */
    /* font-family: Helvetica, Arial, sans-serif; */
}

hr{
    margin: 0px;
}

/* ----------------- */

#header{
    width: 970px;
    height: 35px;
    display: inline-block;
    color: white;
    background-color: black;
    padding: 5px;
}

#header ul{
    display: inline;
}

#header h2{
    display: inline;
}

#header li{
    display: inline;
    text-decoration-style: none;
    padding: 0px 20px;
    text-align: right;
}
/* ------------------ */
#sectionOne{
    width: 970px;
    height: 280px;
    background-color: lightgray;
    display: inline-block;
}

#sectionOneText{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin: 5px 20px;
}

#sectionOne h1, p{
    display: inline;
}

#sectionOne img{
    width: 450px;   
    text-align: right;
    display: inline-block;
    margin: 25px 0px 0px 0px;
}

#sectionOne button{
    background-color: black;
    color: white;
    padding: 5px;
    margin: 0px 40px 0px 0px;

}

/* ----------------- */
.sectionTwo{
    background: linear-gradient(#ACABAB, lightgray);
    width: 970px;
    height: 370px;
    display: inline-block;
}

.sectionTwoColumns{
    width: 195px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    padding: 0px 5px;
}

.sectionTwoColumns img{
    margin: 5px;
}

.sectionTwoColumns h3{
    display: inline-block;
    margin: 20px 0px 10px 0px;
    vertical-align: top;

}

#sectionTwoMain{
    width: 640px;
    display: inline-block;
    vertical-align: top;
}

.sectionTwoRight{
    display: inline-block;
    width: 296px;
    vertical-align: bottom;
    background-color: white;
    padding-left: 10px;
    margin: 10px 0px 0px 10px;
}

.sectionTwoRightText{
    display: inline-block;
    width: 125px;
}

.sectionTwoRight h3 p{
    display: inline;
}

.sectionTwoRight img{
    width: 100px;
    vertical-align: top;
}
.sectionTwoRightText h3{
    padding: 10px 0px 0px 0px;
    margin: 0px;
}

.sectionTwoRightText a{
    padding: 0px 0px 0px 3px;
    margin: 2px 0px 0px 0px;
}

.line{
    position: relative;
}

.line_diagonal {
    position: absolute;
    width:50%;
    top:60px;
    left: 145px;
    /* color: grey; */
     transform:rotate(90deg);
     -o-transform:rotate(90deg);
     -moz-transform:rotate(90deg);
     -webkit-transform:rotate(90deg);}
/* ----------------- */

#footer{
    background-color: black;
    color: white;
    display: inline-block;
    width: 950px;
    height: 150px;
    vertical-align: center;
}

.footerColumns{
    width: 270px;
    height: 125px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 15px;
}

#footer button{
    background: linear-gradient(grey,black);
    color: white;
}

#copyRightFooter{
    width: 950px;
    height: 25px;
    text-align: center;
    background-color: lightgray;
    font-size: 6px;
}