*{
}

#container{
    width: 970px;
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}

#header{
    width: 950px;
    height: 150px;
    /* display: inline-block; */
    color: white;
    background-color: black;
}

#header ul li{
    display: inline;
    text-decoration-style: none;
    text-align: center;
}

#sectionOne{
    width: 970px;
    height: 300px;
}

.sectionTwo{
    background: linear-gradient(grey, lightgray);
    width: 970px;
    height: 400px;
    display: inline-block;
}
.sectionTwoColumns{
    width: 100px;
    height: 100px;
    display: inline-block;
}

#footer{
    background-color: black;
    color: white;
    display: inline-block;
    width: 970px;
    height: 200px;
}

#footer button{
    background: linear-gradient(grey,black);
    color: white;
}